modules = ["python-3.12"]
run = "python3 manage.py runserver 0.0.0.0:8000"

[nix]
channel = "stable-24_05"
packages = ["cacert", "cargo", "glibcLocales", "libffi", "libiconv", "libxcrypt", "openssl", "pgadmin4", "pkg-config", "postgresql", "rustc"]

[deployment]
run = ["sh", "-c", "python3 manage.py runserver 0.0.0.0:8000"]
